<header class="site-header">
  <div class="site-header__details">
    <p class="site-header__name">Dane Bridgman</p>
    <p class="site-header__tagline">I'm an enthusiastic and passionate <span class="site-header--highlight">front end web developer</span> from Warwickshire. I'm obsessed with lean, modern and high performing code.</p>
    <nav class="site-header__nav">
      <ul class="site-header__list">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/about.html" title="About Me">About</a></li>
        <li><a href="/" title="Blog">Blog</a></li>
        <li><a href="/contact.html" title="Contact">Contact</a></li>
      </ul>
    </nav>
    <p class="site-header__social">
      <a href="https://twitter.com/DaneBridgman" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="http://codepen.io/dbridgman/" title="Codepen" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
      <a href="https://github.com/dbridgman" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/dane-bridgman-02622b70" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/danebridgman/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </p>
  </div>
</header>