<title>{{ page.title }} - Dane Bridgman</title>
<meta name="description" content="{{ page.meta-description }}">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<link rel='shortcut icon' href='/assets/img/favicon.png' type='image/x-icon'/>
<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Rozha+One" rel="stylesheet">
<!-- LIBRARIES -->
<script type='text/javascript' src='//use.fontawesome.com/89acd52d22.js?ver=4.5.4'></script>
<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/styles.css">