<section class="share-buttons">
    Sharing is caring &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#{{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ post.content | strip_html | truncatewords:45 }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</section>
