.share-buttons {
  font-size: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: $grey;
  @include breakpoint(tablet) {
    font-size: 1.3rem;
  }
  a {
    padding:0 0.5rem;
    color: $black;
    transition: 0.4s ease;
    &:hover {
      color: $purple;
    }
  }
}
