<!DOCTYPE html>
<html lang="en-GB">
<head>
{% include headdata.html %}
</head>
<body class="about-page">
  {% include header.html %}
  <div class="container">
    <main class="about-content">
      <h1>About Me</h1>
      <img class="about-content__portrait" src="/assets/img/dane-bridgman.jpg" alt="Dane Bridgman - Front End Web Developer"/>
      <p>My name is Dane, and I'm an excitable front end web developer from the quiant town of Rugby in Warwickshire.</p>
      <p>It was round about 7 years ago I was submersed in the world of web development tinkering around with my own freelance projects, and around 4 years ago I started working for a local digital design agency as a Web Developer specialising in technical SEO.</p>
      <p>It didn't take long for me to become absolutely enamoured with the front end side of things, the appeal of making modern, lean, high performing websites soon became an obsession. There is no feeling quite like bringing your own, and other peoples designs to life on the screen in front of you.</p>
      <p>Since then I've worked on freelance projects, and recently started working as a front end web developer full time for a web development studio in Northamptonshire.</p>
    </main>
  </div>
  {% include footdata.html %}
</body>
</html>